// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, .h1 { 
  font-size: $h1-font-size;
  color: $h1-color;
  font-family: $h1-font-family;
  font-weight: $font-weight-normal;
  line-height: $headings-line-height;
  margin: $h1-margin;
}
h2, .h2 { 
  font-size: $h2-font-size; 
  color: $h2-color;
  font-family: $h2-font-family;
  font-weight: $font-weight-normal;
  line-height: $h2-line-height;
  margin: $h2-margin;
}
h3, .h3 { 
  font-size: $h3-font-size; 
  color: $h3-color;
  font-weight: $font-weight-normal;
  line-height: $headings-line-height;
  text-transform: $h3-transform;
  margin: $h3-margin;
}
h4, .h4 { 
  font-size: $h4-font-size; 
  color: $h4-color;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  text-transform: $h4-transform;
  margin: $h4-margin;
}
h5, .h5 { 
  font-size: $h5-font-size; 
  color: $h5-color;
  font-weight: $font-weight-normal;
  line-height: $headings-line-height;
  text-transform: $h5-transform;
  margin: $h5-margin;
}
h6, .h6 { 
  font-size: $h6-font-size; 
  color: $h6-color;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  margin: $h6-margin;
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}


//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: $blockquote-small-font-size;
  color: $blockquote-small-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}
