#item-detail-container {

    #item-detail-collection {
        margin-bottom: 0;
    }
    #item-detail-resource {
        font-size: 2rem;
    }

    .item-detail-hierarchy {
        text-transform: $h3-transform;
        padding: 0 0 0 $grid-gutter-width;

        li {
            list-style-type: none;

            &.item-detail-hierarchy-element {
                font-weight: normal;
                
            }

            &.item-detail-hierarchy-element-selected {
                font-weight: bold;
                &:before {
                    content: '\2192';
                    margin-left: -18px;
                    margin-right: 2px;
                }
            }

            &.item-detail-hierarchy-placeholder {
                font-weight: normal;
            }            
        }
    }

    .item-dataset-container {
        overflow: auto;
        font-family: $font-family-monospace;
        color: $code-color;
        font-size: $code-font-size;
    
        padding: $grid-gutter-width/2;
        margin-bottom: $grid-gutter-width;

        max-height: 500px;
        border: $border-width solid $border-color;
        
        -webkit-box-shadow: $box-shadow-sm; 
        box-shadow: $box-shadow-sm;
        
        -webkit-border-radius: $border-radius;
        border-radius: $border-radius;

       ul {
		padding-left: 15px;
		list-style-type: none;

		li {
			position: relative;
			margin-top: 0.2rem;

			&:before{
				content: " ";
				display: inline-block;
				position: absolute;
				left: -1.25rem;
				top: 0.25rem;
				width: 0;
				height: 0;
				margin-right: 3px;
				margin-left: 8px;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid $gray-800;
			 }

			.btn-inline {
				padding: 0 0.5rem;
			}
			
			.sample-output-value-expanded {
				.fa-plus-square {
					display: none;
				}
				.fa-minus-square {
					display: inline;
				}
			}
			
			.sample-output-value-collapsed {
				.fa-plus-square {
					display: inline;
				}
				.fa-minus-square {
					display: none;
				}
			}

		}

		.sample-output-key {
			font-style: italic;
			font-weight: bold;
		}
	}
    }

    #item-images {
        position: relative;
        width: 100%;
        overflow: hidden;

        padding: 5px;
        border: $border-width solid $border-color;
    
        -webkit-box-shadow: $box-shadow-sm; 
        box-shadow: $box-shadow-sm;
        
        -webkit-border-radius: $border-radius;
        border-radius: $border-radius;

        img {
            width: 100%; 
            height: auto;
        }

        .carousel-control-next,
        .carousel-control-prev {
            border: none;
            background-color: $primary-var-2;
        }
    }

    #item-highlights {
        font-size: 85%;
      
        > div {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
      
            margin: $grid-gutter-width/4;
      
            font-style: italic;
      
            span.result-highlight-field {
                font-style: normal;
            }
      
            span.result-highlight {
                font-weight: bold;
                color: $primary;
            }
        }
      }
}