#search-loading-indicator {
    position: absolute;
    right: 0;
}

#search-results-container {
    #search-results {
        .tab-pane {
            .search-result-tab-heading {
                font-style: italic;
            }

            .search-results-resources-show-more {
                text-align: center;
            }

            .search-results-item {
                margin: $grid-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width/2;
            
                .search-result-image-container {
                    flex: 0 0 145px;

                    position: relative;
                    padding: 5px;
                    border: $border-width solid $border-color;
                    margin-top: $grid-gutter-width/4;
                    margin-right: $grid-gutter-width;
                    
                    -webkit-box-shadow: $box-shadow-sm; 
                    box-shadow: $box-shadow-sm;
                    
                    -webkit-border-radius: $border-radius;
                    border-radius: $border-radius;
                
                    // useful if you don't want a bg color from leaking outside the border: 
                    -webkit-background-clip: padding-box; 
                    background-clip: padding-box;
                    
                    height: 145px;
                    width: 145px;

                    .search-result-image {
                        height: 135px;
                        width: 135px;

                        background-repeat:no-repeat;
                        background-position: center center;
                        background-size: contain;
                    }

                    .image-loading-overlay,
                    .no-preview-overlay {
                        position: absolute;
                        text-align: center;
                        vertical-align: middle;
                        padding: 8px 5px;
                        z-index: 100;

                        &.image-loading-overlay {
                            top: 40px; bottom: 0px; left: 0px; right: 0px;

                            color: $primary-var-2;
                            opacity: 0.8;
                        }

                        &.no-preview-overlay {
                            top: 60px; left: 0px; right: 0px;
                            
                            border-top: 3px solid $primary-var-2;
                            border-bottom: 3px solid $primary-var-2;
                            background-color: $primary;
                            opacity: 0.7;
                            

                            -webkit-box-shadow: $box-shadow-sm; 
                            box-shadow: $box-shadow-sm;

                            color: white;
                            font-style: italic;	
                        }

                    }
                }

                .search-results-resource-item {
                    justify-content: center;

                    .search-result-score {
                        float: right;
                        font-size: 90%;
                    }
            
                    .search-result-datasource {
                        margin-bottom: 0;
                    }
            
                    .search-result-title {
                        margin-bottom: $grid-gutter-width/3;
                    }
            
                    ul.search-result-links {
                        list-style: none;
                        padding: 0;
                        margin-bottom: $grid-gutter-width/3;
            
                        li {
                            overflow-wrap: break-word;
                            word-wrap: break-word;
                            word-break: break-word;
                        }
                    }

                    div.search-result-highlights {
                        //list-style: ;
                        //padding: 0;
                        margin-bottom: $grid-gutter-width/3;
                        font-size: 85%;
            
                        > div {
                            overflow-wrap: break-word;
                            word-wrap: break-word;
                            word-break: break-word;

                            margin: $grid-gutter-width/3;

                            font-style: italic;

                            span.result-highlight-field {
                                font-style: normal;
                            }

                            span.result-highlight {
                                font-weight: bold;
                                color: $primary;
                            }
                        }
                    }
            
                    .search-result-objects {
                        > span {
                            display: inline-block;
                            padding: 0 0.25rem 0.25rem 0.25rem;
                            cursor: pointer;
            
                            i.fa {
                                margin-right: 5px;
                            }
                        }
                    }
            
                    .search-result-panel {
                        border: $border-width solid $border-color;
                        margin-top: $grid-gutter-width/4;
                        margin-bottom: $grid-gutter-width/2;
                        
                        padding-left: $grid-gutter-width / 2;
                        padding-right: $grid-gutter-width / 2;
            
                        overflow-wrap: break-word;
                        word-wrap: break-word;
            
                        .btn {
                            padding-left: 0;
                        }
            
                        .collapse {
                            ul {
                                padding-left: 1.25rem;
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }

            .result-collection {
                margin-bottom: $grid-gutter-width;
            }
        }
    }
}