/*!
 *	General editor styling
 */
div.content-pane {
	overflow: auto;
	padding-top: $grid-gutter-width/2;

	&.content-pane-no-overflow {
		overflow: hidden;
	}

	.editor-content-container {
		min-height: 0;

		+ .editor-content-container {
			margin-top: $grid-gutter-width / 4;
		}
	}
}


/*!
 * Log Area
 */
.log {
	padding-left: 0;
	list-style-type: none;
	white-space: nowrap;
	font-family: $font-family-monospace;
	font-size: $code-font-size;
	color: $code-color;

	li {

		&.log-INFO {
			background-color: $info;
			color: $white;
		}

		&.log-SUCCESS {
			background-color: $success;
			color: $white;
		}

		&.log-WARNING {
			background-color: $warning;
		}

		&.log-ERROR {
			background-color: $danger;
			color: $white;
		}
	}
}

/*!
 * Editor context menu
 * @see: https://github.com/avxto/nuContextMenu/blob/master/src/nu-context-menu.css
 */
.editor-context-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: 9999;

    &.active {
	    opacity: 1;
	    height: auto;
	    width: auto;
	}

	ul {
	    font-size: $font-size-sm;
	    list-style: none;
	    margin: 2px 0 0;
	    padding: 4px 0;
	    text-align: left;

	    li {
		    clear: both;
		    color: $body-color;
		    cursor: pointer;
		    //line-height: 1.42857;
		    padding: 2px 20px;
		    white-space: nowrap;

		    &:hover {
			    background: $primary-var-1;
			    color: $white;
			}
		}

		hr {
		    background: $border-color;
		    border: 0;
		    color: $border-color;
		    height: 1px;
		    margin: 4px 0;
		}
	}
}

.sample-codearea, 
.sample-textarea {
	font-family: $font-family-monospace;
	background-color: $code-bg;
	color: $code-color;
	font-size: $code-font-size;

	border: $border-width solid darken($code-bg, 25%);
	padding: $grid-gutter-width/2;

	&.sample-codearea {
		overflow: auto;
	
		p {
			padding: 0;
		}
	}
	
	&.sample-textarea {
		resize: none;
	}

	ul {
		padding-left: 15px;
		list-style-type: none;

		li {
			position: relative;
			margin-top: 0.2rem;

			&:before{
				content: " ";
				display: inline-block;
				position: absolute;
				left: -1.25rem;
				top: 0.25rem;
				width: 0;
				height: 0;
				margin-right: 3px;
				margin-left: 8px;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid $gray-800;
			 }

			.btn-inline {
				padding: 0 0.5rem;
			}
			
			.sample-output-value-expanded {
				.fa-plus-square {
					display: none;
				}
				.fa-minus-square {
					display: inline;
				}
			}
			
			.sample-output-value-collapsed {
				.fa-plus-square {
					display: inline;
				}
				.fa-minus-square {
					display: none;
				}
			}

		}

		.sample-output-key {
			font-style: italic;
			font-weight: bold;
		}
	}
}

.sample-input-optionbar {
	padding: $grid-gutter-width/4;

	.btn-inline {
		margin-top: -2px;
		padding: 0 $grid-gutter-width/2;
	}
}