.modal {

    .available-input-container {
        border: 1px solid #ccc;
        height: 245px;
        overflow: scroll;
        padding: 6px;
    }
    
    .available-input-container ul {
        font-size: 90%;
        list-style: none;
        padding-left: 15px;
    }
    

    .transformation-result {
        height: 150px;
    }

    .transformation-result ul {
        padding-left: 15px;
    }

    /*!
    *	Grammar Editor
    */
    .accordion-validate-grammar .panel-body ul {
        list-style: none;
        font-size: 90%;
        max-height: 150px;
        overflow: auto;
    }

    /*!
    *	SVG Viewer
    */
    .inner-svg-container,
    .outer-svg-container {
        overflow: hidden;
        position: relative; 
        width: 100%;
        height: 100%;
    }

    .outer-svg-container {
        border: 1px solid #CCC;
        
        /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
        -webkit-border-radius: 5px; 	
        /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
        border-radius: 5px;
    }

    .maximized-svg-container {}

    .inner-svg-container svg {
        overflow: hidden; 
        display: inline; 
        width: inherit; 
        min-width: inherit; 
        max-width: inherit; 
        height: inherit; 
        min-height: inherit; 
        max-height: inherit; 
    }

    .svg-button-container {
        position: absolute;	
        top: 0;
        right: 0;
        
        background-color: #DDD;
        border: 1px solid #BBB;
        
        /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
        -webkit-border-radius: 5px; 	
        /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
        border-radius: 5px;

    }

    .svg-button-container button {
        display: block;	
    }
}