.editor-table {
    //border-collapse: collapse;
    border-bottom: $border-width solid $editor-table-border-color;
    margin-bottom: 0.5rem;
    width: 100%;

    tr {
    	td, th {
		    border: $border-width solid $editor-table-border-color;
		    padding: $grid-gutter-width / 2;
		    text-align: left;

		    &.nowrap {
				white-space: nowrap;
			}

			&.explode {
				width: 100%;
			} 
		}

		th {
		    /*padding-top: 8px;
		    padding-bottom: 8px;*/
		    background-color: $editor-table-head-bg-color;
		    color: white;
		}

    	&.list {
			cursor: pointer;

			&.has-error {
				background-color: theme-color-level("danger", $alert-bg-level);
				color: theme-color-level("danger", $alert-color-level);

				&:hover {
					background-color: darken(theme-color-level("danger", $alert-bg-level), 15%);
				}
			}

			&:hover {
				background-color: lighten($editor-table-head-bg-color, 35%);
			}

			&.row-open {
				font-weight: $font-weight-bold;
			}
		}

		&.row-open {
			background-color: lighten($editor-table-head-bg-color, 45%);
		}

		&:nth-child(2n+1) td { 
			//border-bottom: 0;
		}
		&:nth-child(2n+2) td { 
			//border-top: $border-width dashed $editor-table-border-color;
		}

		.btn-link {
			padding-top: 0;
			padding-bottom: 0;
		}
		
    }

    
    + .btn {
    	padding-top: 0;
    }

}

