.collection-image {
    position: relative;
    width: 100%;

    img {
        width: 100%; 
        height: auto;
    }

    span {
        position: absolute;
        top: 10%; left: 0px; right: 0px;
    
        border-top: 2px solid $primary-var-2;
        border-bottom: 2px solid $primary-var-2;
        background-color: $primary;
        opacity: 0.8;
        
        text-align: center;
        padding: 8px 5px 12px 5px;
        color: $white;
        font-style: italic;	
        z-index: 100;
    }
}