main {
	margin-bottom: 20px;

	.btn {
		&:not(.btn-link) {
			min-width: 135px;
	}
	}
}

/*header {
	z-index: 10000;
}*/

/*
 *	footer based on DARIAH-DE/StyleGuideTemplate
 *	@see: https://github.com/DARIAH-DE/StyleGuideTemplate/blob/styleguide_v2/scss/sections/footer.scss
 */
.footer {
	background: $footer-bg-color url(../../img/grain.png);
	color: $footer-color;
	font-size: $footer-font-size;
	margin-top: auto;
	padding: ($grid-gutter-width / 2) $grid-gutter-width;
	/*text-shadow: $outset-shadow;*/
	z-index: 1021; //over fixed sidebar

	@media (max-width: $footer-breakpoint) {
		padding: ($grid-gutter-width / 2);
	}

	p {
		max-width: none;
	}

	small {
      font-size: .875em;
      line-height: 16px;
	}
}

.footer-left {
	float: left;
	width: 61.8%;

	@media (max-width: $footer-breakpoint) {
		text-align: center;
		width: 100%;
	}

	a {
		border-color: transparent;

		@include hover {
			border-bottom: $border-width solid $link-hover-color;
		}
	}

	a + a {
		margin-left: 1em;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.footer-right {
	float: right;
	text-align: right;
	width: 38.2%;

	@media (max-width: $footer-breakpoint) {
		margin-top: $grid-gutter-width;
		text-align: center;
		width: 100%;
	}

	p {
		text-align: right;
		@media (max-width: $footer-breakpoint) {
			text-align: center;
		}
	}

	// BMBF logo
	a {
		@include transition(background);
		margin: (-$grid-gutter-width / 4) 0;
		padding: ($grid-gutter-width / 4);

		border: none;
		display: inline-block;

		@media (max-width: $footer-breakpoint) {
			display: inline-block;
			float: none;
			margin-bottom: (-$grid-gutter-width / 2); // TODO: Check vertical margin
		}

		@include hover {
			background: rgba(#000, .06);
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
}
