label:not(.sr-only), legend {
    color: $labels-color;
    //font-size: 0.875rem;
    font-weight: 700;
}

legend {
    letter-spacing: 1px;
    line-height: $grid-gutter-width;
    margin: $grid-gutter-width auto ($grid-gutter-width/2);
    text-transform: uppercase;
    display: block;
    text-align: left;
    width: 100%;
}

legend {
    padding: 0;
}

fieldset, legend {
    border: 0;
}

.col-horizontal-form-label {
    text-align: right;

    // Properties of .col-form-label
    padding-top: calc(0.875rem + 1px);
    padding-bottom: calc(0.875rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}