/*
 *	logobar based on DARIAH-DE/StyleGuideTemplate
 *	@see: https://github.com/DARIAH-DE/StyleGuideTemplate/blob/styleguide_v2/scss/sections/logo.scss
 */
.logobar {
	font-size: ($grid-gutter-width * 2); // TODO: Why does this help removing the bottom gap?
	margin: 0 auto $grid-gutter-width auto !important;
	text-align: center;

	background-color: $gray-200;
	border-top: 3px solid $primary-var-2;
	border-bottom: 2px solid $primary-var-1;

	a {
		border: 0;
	}

	.logobar-link {
		display: inline-block;
		margin: 0 auto 0 auto;
		padding: 0 $grid-gutter-width $grid-gutter-width/2 $grid-gutter-width;
		position: relative;
		z-index: 1;

		// 1. Center logo visually
		.logobar-logo {
			pointer-events: none; // Allow click-trough on spike
			position: relative;
		}

		.logobar-title {
			position: relative;
			font-family: $headings-font-family;
			
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			display: inline-block;
			color: $primary;
			
			text-align: left;
			//border-left: $border-width solid $primary;
			padding-left: 25px;
			font-style: normal;
			line-height: 1.25;
			font-weight: $font-weight-bold;
		}

		&.logobar-link-sm {
			height: ($grid-gutter-width * 4);

			.logobar-title {
				margin-top: 27px;
				font-size: 1.75rem;
				vertical-align: top;
			}

			.logobar-logo {
				height: ($grid-gutter-width * 5);
				left: -10px; // 1
				margin: -18px 0 0;
				width: 151px; // IE 11
			}
		}

		&:not(.logobar-link-sm) {		
			height: ($grid-gutter-width * 7);
			
			.logobar-logo {
				height: ($grid-gutter-width * 8);
				left: -23px; // 1
				margin: -9px 0 0;
				width: 200px; // IE 11

				@media (max-width: $footer-breakpoint) {
					height: ($grid-gutter-width * 4.5);
					left: -17px;
					margin: (-$grid-gutter-width / 4) 0 (-$grid-gutter-width / 2);
					width: 227px; // IE 11
				}
			}

			.logobar-title {
				margin-top: 0px;
				font-size: 2.5rem;
				vertical-align: middle;
			}
		}
	}
}