/* Tables
 * @see: https://github.com/DARIAH-DE/StyleGuideTemplate/blob/styleguide_v2/scss/base/tables.scss
 */
table {
	width: 100%;
}

caption {
	//@include heading(4);
	margin-top: 0;
	text-align: left;
}

tr {
	border-bottom: $border-width solid $border-color;
}

th,
td {
	padding: ($grid-gutter-width / 4) .5em ($grid-gutter-width / 4 - $border-width);
	text-align: left;
}

th {
	color: $gray-600;
}

