.editor {
	.editor-buttonbar {
		padding: ($grid-gutter-width / 2) 0;
		background-color: $white;
		border-bottom: $border-width solid $border-color;
		text-align: right;
	}
 
 	.editor-section {
		border: $border-width solid $border-color;
		-webkit-box-shadow: $box-shadow-sm;
		box-shadow: $box-shadow-sm;
		padding: $grid-gutter-width ($grid-gutter-width / 2);
		margin-bottom: ($grid-gutter-width);


		.editor-section-heading h2,
		> h2 {
			margin-top: 0;
			text-align: center;
			border-bottom: $border-width solid $border-color;
			padding-bottom: ($grid-gutter-width / 2);
		}

		.form-group {
			//margin-bottom: 0;
		}

		.col-form-label {
			hyphens: auto;
			hyphenate-limit-chars: auto 3;
			hyphenate-limit-lines: 4;
			-webkit-hyphens: auto;
			-webkit-hyphenate-limit-chars: auto 3;
			-webkit-hyphenate-limit-lines: 4;
			-ms-hyphens: auto;
			-ms-hyphenate-limit-chars: auto 3;
			-ms-hyphenate-limit-lines: 4;

			// TODO: Use grid variable...
			//@media (min-width: ${grid-breakpoints.sm}) {
			@media (min-width: 876px) {
				text-align: right;
			}

			&.col-content-label {
				text-align: left;
				font-size: 1rem;
				font-weight: $font-weight-base;	
			}

			&.linked-control-label a {
				color: $labels-color;
				border: none;

				@include hover-focus {
					color: $labels-highlight-color;
				}
			}
		}

	}

	.attribute-name-helper {
		display: none;
		position: absolute; 
		height: 0;
		width: 0;
	}

	.collection-image-container,
	.agent-image-container {
		float: left;
	    margin: 5px;
	    border: 1px solid #DDD;
	    padding: 5px;
	    position: relative;
	    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	}

	#collection-image-placeholder {
		margin: 10px;
	}

	#btn-remove-collection-image {
		padding-top: 10px;
	}

	#collection-image-hint {
		font-style: italic;
		font-weight: normal;
	}

	.container-error {
		&:first-of-type(label) {
			color: $warning;
		}
	}

	.alert {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.editor-hint {
		display: none;
	}
}